*{
    margin: 0;
    padding: 0;
}

body{

    background : linear-gradient(135deg, #00c6ff 0%, #0072ff 100%, #1e3c72 0%, #2a5298 100%,#3a7bd5 0%, #3a6073 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: 400% 400%;
    animation : flow 10s infinite ease;

}

@keyframes flow{
0%{
    background-position: 100% 50%;
}
50%{
    background-position: 50% 0%;
}
100%{
    background-position:  100% 50%;
}
}

.card{

    border-radius: 20px;
  
    background: linear-gradient(135deg , #00feba,#5b548a);
    
    
    box-shadow: 0px 0px 20px white, 0px 0px 40px white;

  height : 1000px;
  width : 600px;

}

.search{

    margin-top: 5px;
    height: 50px;
 
display : flex;

justify-content: flex-end;
flex-direction: row;

border-radius: 20px;


}

.input-btn{
  background-color: lightblue;
 border-radius: 20px;
  
  flex : 1;
  cursor: pointer;

  margin-left: 10px;
}

.input-btn:hover{
    transform: scale(1.05);
}

input{
    border: none;
    font-size: 20px;

    font-size: 30px;
    text-align: center;
    
}


.btn{
 height : 100%;
 width: 20%;

 font-size : 40px;

 cursor: pointer;


}

.btn:hover{
    transform: scale(1.2);
}

button{
    background: transparent;
    border: none;
}

.weather{

    width : 600px;
    height : 200px;

    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    align-items: center;
}

.temp{
 
    font-size: 50px;
}

.wind{

        font-size: 30px;

}

.humidity{

        font-size: 30px;
}


.images {
width: 400px;
height : 300px;

margin-left: 100px;


 display: flex;
 align-items: center;
 justify-content: center;

}
img{
  width: 100%;
  height : 100%;

  border-radius: 20px;

}

.info{

    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 300px;

    font-size: 20px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    text-decoration: 2px underline white;

}

.cities{

    height: 100px;
    width : 600px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: bold;

}

.flag{
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

}

 #loading {
      font-size: 1.2em;
      color: gold;
      margin-top: 1em;
 }