body {
  font-family: Arial, sans-serif;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;

  animation: glow 5s infinite alternate;
}

@keyframes glow {
    FROM{
        box-shadow: 0 0 15PX darkgreen, 0 0 20PX green;
    }
    TO{
        box-shadow:  0 0 30PX green, 0 0 40PX greenyellow;
    }
}

h1 {
  margin-bottom: 15px;
  color: green;
}

.input-area {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid greenyellow;
  color: green;
  font-weight: bold;
  border-radius: 6px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background: #28a745;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  color: green;
}

li {
  background: #eee;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.done {
  text-decoration:underline;
  background: #d4edda;
}

.deleteBtn {
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
}
