*{
    margin : 0;
    padding : 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing : border-box;
}

body{
    background-color: black;

}

.card{
width : 90%;
max-width : 470px;
background :linear-gradient(135deg , #00feba,#5b548a);
color : #fff;
margin :100px auto 0;
border-radius: 20px;
padding : 40px 35px;
text-align: center;

}

.search{
    width : 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;


}

.search input{
    border:  0;
    outline :0;
    background: #ebfffc ;
   color : #555;

   padding : 20px 15px;
   height : 60px;
   border-radius: 10px;

   flex : 1; /* to occupy remaining space between photo and input*/
   margin-right: 16px;
   font-size: 20px;

}

.search input:hover{
    background-color: lightgrey;
}

.search button{
border: 0;
outline: 0;
background: none;
border-radius: 30%;

}

.button_1 h1{
    border-radius: 20px;
     
    font-size: 60px;
     width : 80px;
     height : 50px;

   margin-top: -30px;

}

.button_1 h1:hover{
  font-size:70px ;
}

.weather{
    margin : 20px;
}

.weather img{
    border-radius: 30px;

}

.weather H1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;

    margin-top: -10px ;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    margin-top: 15px;
    gap : 60px;


}

col {
    display : flex;
    align-items: center;
    justify-content: center;
}
.col img{
    width : 100px;
  
}

.humidity, .wind{
font-size: 28px;
margin-top: -6px;
}



