.card {
  background: #0f172a;
  color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 400px;
  margin: auto;
  box-shadow: 0 0 20px rgba(255,255,255,0.1);
}

#apod-image {
  max-width: 100%;
  border-radius: 10px;
  margin: 15px 0;
}
