/* Background color for the whole page */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  margin: 0;
  background: linear-gradient(135deg, #4facfe, #00f2fe); 
  font-family: Arial, sans-serif;
}

/* Profile Card */
.card {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;

  /* Background Image */
  background-image: url("https://picsum.photos/500/700");
  background-size: cover;
  background-position: center;
  color: white;

  /* to control blow effect*/
  transition : 2s;
}
/*


/* new */
/* Overlay with transparency */
/*
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
}
*/

.overlay {
  position: absolute;   /* overlay inside relative card */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* transparent black */
  color: white;
  display: flex;         /* center text */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;            /* hidden by default */
  transition: opacity 0.3s ease; 
  
}

.card:hover .overlay {
  opacity: 1;            /* show on hover */

}
  

.card:hover {
  transform:scale(1.5);
  color : white;
}


/* Title in em units */
.title {
  position: relative;
  margin-top: 60px;
  padding : 30px;
  font-size: 2em; /* relative to parent */
  font-weight: bold;
  color : black;
}

/* Subtitle in rem units */
.subtitle {
  position: relative;
  font-size: 1.5rem; /* relative to root HTML */
  color: #ffdd57;
  margin: 10px 0;
}

/* Small text with px */
.desc {
  position: relative;
  font-size: 16px; /* fixed size */
  color: #ddd;
  padding: 10px;
}
