*{
    margin:0px;
    padding:0px;
}

body{
    background-color: rgba(0,0,0,0.8);
}

.container{

    width: 1000px;
    height: 1000px;

    /* gap: 50px; */

    display: flex;
    flex-direction:row;

    /* flex-wrap: wrap; */
}

.box{
    width : 50px;
    height: 50px;

    color:none;
    border: 2px solid white;

    transition: 1s ease;
}

.box:hover{
   background-color : whitesmoke;

}

.box:hover::after{
    background-color: aqua;
}