body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: BLACK;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc-box {
  margin-top: 20px;
  padding: 15px;
  border: 3px solid YELLOW;
  background-color: BLACK;
  width: 250px;
  border-radius: 8px;

  animation: GLOW 5S INFINITE alternate;
}

@keyframes GLOW {
    FROM{
        box-shadow: 0 0 15PX YELLOW, 0 0 20PX LIGHTYELLOW;
    }
    TO{
        box-shadow:  0 0 25PX yellowgreen, 0 0 35PX darkgoldenrod;
    }
    
}
H1{
    COLOR: YELLOW;
}
H3{
    COLOR:YELLOW
}

input {
    background-color: YELLOW;
  width: 100px;
  padding: 5px;
  margin: 5px 0;
}

button {
  margin: 5px;
  padding: 5px 10px;
  COLOR:ORANGE;
  background-color: lightyellow;
  cursor: pointer;
}

#result {
    COLOR:YELLOW;
  font-weight: bold;
  margin-top: 10px;
}

.checklist {
  margin-top: 30px;
}

.checklist label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}



