body{
  background-color: white;
  overflow: hidden;

  background-size: 10vh 10vh;

  background-image: linear-gradient(to right,#333 1px,transparent 1px),
  linear-gradient(to bottom,#333 1px, transparent 1px);
}


.features {
  padding: 100px 10%;
}

.feature {
  margin-bottom: 800px;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}
