/*
"*" -> universal selector.
"#id_name" -> id
".class_name" -> class
{
header
contentBox
footer
}
*/


h1{
    color : rgb(0,100,150);
   
    text-align: center;
    font-weight : bolder;
    text-decoration : pink wavy underline;
}
p{
    color : palevioletred
}
button{
    color : white;
   
    transition : transform 0.3s ,box-shadow 0.3;
}

button:hover{

transform : scale(1.3);
box-shadow : 0 0 40px red;

}

body{
    /*
      background-color: aquamarine;

      background: linear-gradient(160deg, #2c3e50, #4ca1af);
      
       background: linear-gradient(160deg, #ff7e5f, #feb47b);
       */
       background: linear-gradient(160deg,lightblue,lightyellow,lightgreen,lightpink,rgb(255, 0, 0),orange);
}

button{
    background-color: red; 
    font-weight : bolder;
    text-shadow: black;
    padding : 10px;
    font-size: 40px;
    border-radius: 60px;
    text-decoration: none;

}

#c_b{
color : white;
font-size: cursive;

animation : color_change 6s infinite alternate ;


}
#c_b:hover{
color : black
}

h2{
    color : pink;

    
}

@keyframes color_change{
0%{background : blue};
50%{background : green};
100%{background: yellow;}
}

#words_1{
  color :brown
  
}

.class_1{
 color : green;
 text-align: center;
 text-transform: uppercase;
 font-family: cursive;
 text-decoration: red dotted underline;
 transition : 4s
  
}
.class_1:hover{
transform : scale(1.3);
  color: red;
   box-shadow: 0 0 40px rgba(0, 255, 255, 0.9),
              0 0 80px rgba(0, 255, 150, 0.7),
              0 0 120px rgba(255, 0, 150, 0.5);

}
div{
 color : rgb(20, 20, 20);
 padding : 10px; 
 background : linear-gradient(150deg,blue,green,yellow,pink);
 text-align: center;

}
.completed{
    background : linear-gradient(160deg,palevioletred,white,grey,gold);
    text-decoration: white line-through;

}
.going_on{
    
    background : linear-gradient(150deg,blue,green,yellow,pink); 
    text-decoration: white wavy underline;
    
    
    /*
     font-size: normal;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  text-shadow: 0 0 10px rgba(255, 126, 95, 0.7),
               0 0 20px rgba(254, 180, 123, 0.6),
               0 0 30px rgba(255, 126, 95, 0.5);
               */
               
}
.incomplete_f{
    background : linear-gradient(160deg,yellow,orange,red,magenta);
    text-decoration:  white dotted underline;
}
.incomplete_b{
    background : linear-gradient(160deg,orange,darkred,rgb(243, 192, 255),rgb(0, 0, 0));
    text-decoration: whitesmoke dotted underline;
}

.completed:hover{
    transform: scale(1.3);
    color : red;
    background: linear-gradient(150deg,black,white,grey);
}
.going_on:hover{
    transform: scale(1.3);
    color : red;
    background: linear-gradient(150deg,black,white,grey);
}
.incomplete_f:hover{
    transform: scale(1.3);
    color : red;
    background: linear-gradient(150deg,black,white,grey);
}
.incomplete_b:hover{
    transform: scale(1.3);
    color : red;
    background: linear-gradient(150deg,black,white,grey);
}
 img {
    display:flex;

    justify-content: center;
    align-items: center;
    
    height : 10vh;
      animation : glow 2s alternate infinite;

      border-radius: 40px; /* it decides the curves*/
      
      box-shadow: 0 0 20px #ff7e5f,
                  0 0 40px #feb47b,
                  0 0 80px #ff7e5f;
    
    align-items: center;
             
    animation : rotate_1 8s linear infinite ;
 }
 
@keyframes rotate_1{

/*
 0% {transform : rotate(0deg);}
 100%{transform : rotate(360deg);}
*/
}

img:hover{
  
  transform : rotate(360deg) delay 2s;
  transform : scale(1.3);
  transition : transform 4s;
}


@keyframes glow{
    from{
   box-shadow: 0 0 50px black, 0 0 80px white;
    }
    to{
  box-shadow: 0 0 80px grey,0 0 100px black ;
    }
 }


#img_2{
  border-radius: 5px;
  align-items: right;
}
A{
    COLOR: WHITE;
    text-decoration: none;
}

.words_2{
    color : pink;

    text-shadow: 0 0 50px 50px pink;
   text-decoration: none;

     transform : scale(1.3);
  color: red;
   box-shadow: 0 0 40px rgba(0, 255, 255, 0.9),
              0 0 80px rgba(0, 255, 150, 0.7),
              0 0 120px rgba(255, 0, 150, 0.5);

   animation : glow_3 5s infinite ;
}

@keyframes glow_3 {
  
  from{
    text-shadow: 0 0 40px black, 0 0 80px green;
  }
  to{
    text-shadow: 0 0 80px green ,0 0 100px red ;
  }
}



 .like-btn {
      position: relative;
      font-size: 30px;
      padding: 15px 30px;
      /*
border : none;
      */
      background: red;
      color: white;
      border-radius: 50px;

      cursor: pointer;
      overflow: hidden;

    }
    .emoji {
      position: absolute;
      font-size: 24px;
      opacity: 0;
      animation: float 3s ease-out forwards;
    }
     @keyframes float {
      0% {
        transform: translateY(0) scale(1);
        opacity: 1;
      }
      100% {
        transform: translateY(-100px) scale(1.5);
        opacity: 0;
      }
    }

