

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection{
    color: purple;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  background: #0f0f1a;
}
/* 
.bg-section {
  position: relative;
  height: 100vh;
  overf
  
  low: hidden;
} */

.bg-section {
  position: relative;
  width:100%;
  height: 100vh;
  overflow: hidden;

  opacity: 0;
  transform: translateY(80px) scale(0.96);
  transition: opacity 1s ease, transform 1s ease;
}

.bg-section.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}


.bg-canvas {
  position: absolute;
  top: 0;
  left: 0;

  /* inset:0; */
}

.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 40%;
  font-size: 2rem;
}

.logo {
  font-family: 'Space Grotesk', sans-serif;

  
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 1000;

  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;

  color: white;
  cursor: pointer;

  mix-blend-mode: difference; 


}

.credit{
    position: fixed;
   

    bottom : 20px;
    right:30px;
    z-index:1000;


    height:5rem;
    width:5rem;

    border-radius: 10px;
    color: purple;

    /* max-width: max-content; */
}

.credit::after{
    content:' ';
    position: absolute;

    top:0;
    left:0;

    height:100%;
    width:0;

    border-radius: 10px;

    z-index:-10;

    background: linear-gradient(to right, green,lightgreen);

    transition: all 0.5s ease-in-out;
}


.fa-github {
  font-size: 4rem;
  color: green;
  transition: 0.3s ease;

  z-index: 10;
}



.fa-github:hover {
  transform: scale(1.2);
  opacity: 0.7;
  color:black;
}

