*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
    
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f4f4;
}

.container {
    width: 400px;
    border-radius: 15px;

    padding: 4px; 

    background: linear-gradient(45deg, red,green);
    background-size: 400% 400%;
    animation: borderMove 6s linear infinite;

    transition: all  1s linear;
}

.container:hover{
    transform: translate3d(-5px,-10px,-20px);
    box-shadow: 20px 20px black;
}

.container-inner {
    background: rgba(255,255,255,0.5);
    padding: 30px;
    border-radius: 12px; 
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* 
.container::before{

      content: "";
    position: absolute;


     inset: -4px;   
    border-radius: 18px;

    background: linear-gradient(45deg, red, blue, green, yellow);
    background-size: 400% 400%;

    z-index: -1;

    animation: borderMove 6s linear infinite;
}  */

.controls{
    display:flex;
    justify-content:space-between;
    margin:20px 0;
}

.preview{
    height:150px;
    border-radius:10px;
    margin-bottom:20px;

    background-color: transparent;
    
    position: relative;
    z-index:1;

}
/* 
.preview::before{

      content: "";
    position: absolute;


     inset: -4px;   
    border-radius: 18px;

    background: linear-gradient(45deg, red, blue, green, yellow);
    background-size: 400% 400%;

    z-index: -1;

    animation: borderMove 6s linear infinite;
} */

@keyframes borderMove{
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

textarea{
    width:100%;
    height:60px;
    margin-bottom:10px;
    padding:10px;
    resize:none;

    border-radius: 10px;

    background : linear-gradient(to right,lightcoral,lightgreen);
}



button{

    position: relative;

    padding:10px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
   background: linear-gradient(to right , red ,orange);
    color:white;

    z-index: 0;

    font-size: larger;
}

button::after{
position: absolute;

content: ' ';
top : 0;
left:0;
width: 0;

height:100%;

background: linear-gradient(to top , yellow ,orange);
transition: all 0.5s ease-in-out;

z-index: -1;

border: none;
border-radius: 8px ;

/* padding:10px 20px; */
}


button:hover::after{
    width:100%;
}
/* 
button:hover{
    color: black;

} */

h2{
    color: orangered;
   z-index: 0;

   position: relative;
   
   width:max-content;

}

h2::after{

    content: ' ';

    position: absolute;
    bottom: 0;
    left: 0;

    height:4px;
    width:0;

    border-radius: 100%;

 background: linear-gradient(to left , purple,pink);

    transition: all 0.5s ease-in-out;
    
}




h2:hover::after{
    width:100%;
}



.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.background span {
    position: absolute;
    border-radius: 50%;
    filter: blur(20px);
    /* animation: move 10s linear infinite alternate; */
}


.background span:nth-child(1) {
    width: 300px;
    height: 300px;
    background: #ff4d6d;
    top: 10%;
    left: 10%;
}

.background span:nth-child(2) {
    width: 250px;
    height: 250px;
    background: #4d79ff;
    top: 60%;
    left: 20%;
}

.background span:nth-child(3) {
    width: 350px;
    height: 350px;
    background: #00ffaa;
    top: 30%;
    left: 70%;
}

.background span:nth-child(4) {
    width: 280px;
    height: 280px;
    background: #ffaa00;
    top: 70%;
    left: 60%;
}

.background span:nth-child(5) {
    width: 280px;
    height: 280px;
    background: #00ddff;
    top: 90%;
    left: 80%;
}

.background span:nth-child(6) {
    width: 280px;
    height: 280px;
    background: #ff00f7;
    top: 50%;
    left: 40%;
}

.background span:nth-child(7) {
    width: 280px;
    height: 280px;
    background: #ddff00;
    top: 80%;
    left: -10%;
}
/* 

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100px, -100px);
    }
} */


